body.darkMode .bg-rielk-construction,.bg-rielk-construction {
    background-color: #e7874f!important
}

.bg-construction-50 {
    background-color: #e7874f3d!important
}

.border-rielk-construction {
    border-color: #e7874f!important;
}


body.darkMode.superDark .bg-rielk-construction
{
    background-color: #000!important
}

.mastery.filled {
  background-color: #fca32f;
    height: 4px;               
  transition: width 0.3s ease;
  border-radius: 2px;
}

.construction-success {
      color: #fca32f;       /* text color */
    font-weight: bold;   /* optional */
}
.construction-toast {
    background-color: #4CAF50; /* green */
    color: white;
    border-left: 5px solid #2E7D32; /* darker green accent */
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
    font-weight: bold;
}

.border-item-danger {
  border: 1px solid #c09a49;
}


.mastery.empty {
  background-color: #3e4856; 
  height: 4px;              
  border-radius: 2px;
      flex: none;      
    width: 100%; 
}

.glassy-house {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(4px);           /* frosted effect */
    -webkit-backdrop-filter: blur(4px);   /* Safari support */
    border: 2px solid #444;
    border-radius: 4px;
    padding: 2px;
}

